<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Cloapedia - Stylish Magazine Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- LOADER -->
<!--    <div id="preloader">-->
      <%#= image_tag 'loader.gif', class: 'preloader', alt: "" %>
<!--    </div><! end loader -->
    <!-- END LOADER -->
    <div id="wrapper">
      <%= render 'shared/search' %>
      <%= render 'shared/topbar-section' %>
      <%= render 'shared/header_section' %>

      <header class="header">
        <div class="container">
          <%= render 'shared/main_nav' %>
        </div><!-- end container -->
      </header><!-- end header -->

      <%= yield %>

      <%= render 'shared/footer' %>

      <div class="dmtop">Scroll to Top</div>
    </div> <!-- end wrapper -->

  </body>
</html>
