<!DOCTYPE html>
<html>
  <head>
    <title>Login | Registration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'login_styles' %>
    <%= javascript_include_tag 'login_scripts', 'data-turbolinks-track': 'reload'%>

  </head>

  <body>

    <%= yield %>

    <script type="text/javascript" charset="utf-8">
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
  </body>

</html>
